.about {
    padding-top: 10%;
}

.about h2 {
    text-align: center;
    text-transform: uppercase;
    color: cadetblue;
    font-weight: 1000;
}

.mission-container,
.vision-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    text-align: justify;
    margin-bottom: 10rem;
}

.vision-container {
    margin-bottom: 5rem;
}

.mission-content,
.vision-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 5rem;
}

.mission-content h2,
.vision-content h2 {
    margin-bottom: 2rem;
}

.mission-image,
.vision-image {
    transition: transform 0.5s;
    transform: skew(-5deg);
}

.mission-image:active,
.mission-image:hover,
.vision-image:active,
.vision-image:hover {
    transform: scale(1.10);
}