section {
  margin-top: 30px;
  margin-bottom: 200px;
  height: 100vh;
  padding: 15px;
}

.red-bold {
  font-weight: bolder;
  font-size: 200%;
  color: red;
}

.black-font {
  color: black;
  font-size: 120%;
}

.form-input-row {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
}